dist
docs
wiki
TAGS
tags
wip
contrib
.DS_Store
.*.swp
.*.swo
*.o
*.hi
*~
*#
Makefile
Makefile.in
aclocal.m4
analytics.buildinfo
autom4te.cache
autoscan.log
config.log
config.guess
config.status
config.sub
config.h
config.h.in
configure
configure.scan
install-sh
missing
www
stamp-h1
config.h.in
